body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 100px;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
    color: gray;
}


table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 90%;
}

th,
td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

#reader {
    width: 500px;
    margin: auto;
}

#result,
#log {
    margin-top: 20px;
    font-size: 1.1em;
    text-align: center;
}